

/*
h2 { 
    color: rgb(120, 248, 0); 
    font-size: 20px;      
}
p {
    color: rgb(0, 162, 255); 
    font-size: 20px
}

*/

.text-tuna {color: brown;}
.fs-small { font-size: 10px;}
.fs-medium{ font-size: 20px;}
.fs-large{ font-size: 30px;}
